{% extends 'temp/base.html' %}
{% block base %}


<table align="center"  class="table">
    <tr>
        <th>ID</th>
        <th>UID</th>
        <th>COMPLAINT</th>
        <th>DATE</th>
        <th>REPLY</th>
        <th>WRITE A REPLY</th>

    </tr>

        {% if objval %}
        {% for ob in objval %}
        <tr>
            <td>{{ ob.id }}</td>
            <td>{{ ob.uid }}</td>
            <td>{{ ob.complaint }}</td>
            <td>{{ ob.date }}</td>
            <td>{{ ob.reply }}</td>

            <td><a href="{% url 'complaint' cid=ob.id %}">reply</a> </td>

        </tr>
        {% endfor %}
        {% endif %}
    </table>



 {% endblock %}